streamlit
langchian-groq
langchain_openai
python-dotenv
pypdf
pandas
openpyxl
xlrd
requests
langchain-community
zipfile
google-generativeai
google-generativeai-client
chromadb
unstructured
pypdf
pdfminer
langchain_chroma
