streamlit
langchain-groq
langchain-google-genai
langchain_openai
python-dotenv
PyPDF2
pandas
openpyxl
xlrd
requests
langchain-community
google-generativeai
chromadb
unstructured
pypdf
pdfminer
langchain_chroma
